<!-- 
  HEADER COMPONENT
  Copy everything below this comment into each HTML page after the opening <body> tag
  Last updated: 2025-01-09
-->
<header class="top js-header">
  <a class="logo" href="index.html">
    <img src="assets/images/botanic.jpg" alt="ierne-snooker" width="768" height="920">
  </a>
  <nav class="navbar js-navbar">
    <button class="navbar__toggle js-toggle" aria-label="Menu" aria-haspopup="true" aria-expanded="false">
      <span class="navbar__toggle-box">
        <span class="navbar__toggle-inner">Menu</span>
      </span>
    </button>
    <ul class="navbar__menu">
      <li>
        <a href="index.html" target="_self">Home</a>
      </li>
      <li>
        <a href="outings-2026.html" target="_self">Outings for 2026</a>
      </li>
      <li>
        <a href="scorecard.html" target="_self">Scorecard</a>
      </li>
      <li>
        <a href="scorecard-sidescroll.html" target="_self">Scorecard Side-Scroll</a>
      </li>
      <li>
        <a href="leaderboard.html" target="_self">Leaderboard</a>
      </li>
      <li>
        <a href="gallery.html" target="_self">Gallery</a>
      </li>
    </ul>
  </nav>
</header>

